/* Custom Font */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;500;700&display=swap');

/* @import url('@fontsource/m-plus-rounded-1c/300.css');
@import url('@fontsource/m-plus-rounded-1c/500.css');
@import url('@fontsource/m-plus-rounded-1c/700.css');*/

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
}
