/* Custom Font */
@import url('@fontsource/m-plus-rounded-1c/300.css');
@import url('@fontsource/m-plus-rounded-1c/500.css');
@import url('@fontsource/m-plus-rounded-1c/700.css');

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
}
