---
import BaseHead from '../components/BaseHead.astro'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import { SITE_TITLE } from '../config'
import { IoChevronForward } from 'react-icons/io5/index.js'
---

<html lang="en">
  <head>
    <BaseHead
      title={`${SITE_TITLE} | Not Found`}
      description="Page could not be found"
    />
  </head>
  <Header />
  <Body>
    <main class="pt-[56px]">
      <Content className="my-8 text-center">
        <h1 class="my-12 text-3xl font-mplus">Oops, not found</h1>
        <a
          href="/projects"
          class="gap-1 inline-flex items-center underline decoration-2 underline-offset-2 decoration-custom-teal dark:decoration-zinc-600"
          >Go back<IoChevronForward />
        </a>
      </Content>
    </main>
  </Body>
  <Footer />
</html>
