---
import { Image } from '@astrojs/image/components'
import {
  // IoChevronForward,
  IoLogoTwitter,
  IoLogoGithub,
  IoLogoLinkedin,
  IoMail
} from 'react-icons/io5/index.js'
import { SITE_DESCRIPTION, SITE_TITLE, EMAIL } from '../config'
import MotionSection from '../components/MotionSection'
import Paragraph from '../components/Paragraph.astro'
import BioSection from '../components/Bio.astro'
import BioYear from '../components/BioYear.astro'
import ListItem from '../components/ListItem.astro'
import GridItem from '../components/GridItem.astro'
import Heading from '../components/Heading.js'
import Page from '../layouts/page.astro'
import type { Project } from '../types/project'

const projects = (await Astro.glob<Project>('./projects/**/*.md'))
  .sort((a, b) =>
    new Date(b.frontmatter.createdAt).valueOf() >
    new Date(a.frontmatter.createdAt).valueOf()
      ? 1
      : -1
  )
  .slice(0, 2)
---

<!-- nice text container --><!-- <div class="bg-custom-teal dark:bg-zinc-700 p-3 my-6 text-center rounded-lg"/> -->
<Page description={SITE_DESCRIPTION} title={SITE_TITLE} lang="en">
  <section class="xs:flex items-center my-12">
    <!-- flex-grow -> This property specifies how much of the remaining space in the flex container should be assigned to the item (the flex grow factor). -->
    <div class="text-center">
      <!-- aspectRatio must be included only if one dimension property is provided -->
      <Image
        src="../me.jpg"
        alt="Profile Image"
        width={720}
        aspectRatio={1}
        class="border-2 border-solid border-custom-blue dark:border-custom-teal max-w-[100px] inline-block rounded-full"
      />
    </div>
    <!-- flex-shrink determines if the elements inside the div should shrink and break to another line if the container has no available space. -->
    <div class="shrink-1 mt-4 xs:mt-0 xs:ml-6">
      <Heading
        className="leading-10 text-3xl font-mplus font-bold md:leading-tight md:text-4xl"
        as="h2"
      >
        Carlos de la Cruz
      </Heading>
      <Heading
        as="h3"
        className="text-md font-mplus md:leading-tight"
        variant="none"
      >
        Hello, I'm an ex-competitive gamer turned developer with a passion for
        building!
      </Heading>
    </div>
  </section>
  <MotionSection client:load delay={0.2} classNames="mb-8">
    <Heading as="h3" variant="section-title">About</Heading>
    <Paragraph className="my-2 indent-4">
      While bootstrapping a competitive gaming career and finishing my last year
      of business school, I realized that finance would be different from what I
      truly envisioned for myself. That is why I decided to put my heart into
      finding a type of fun similar to the one I got from video games in a more
      productive area.
    </Paragraph>
    <Paragraph className="my-2">
      My first experience with programming happened at my sister's wedding. A
      cousin of mine was randomly practicing his JavaScript syntax with
      typing.io, so I came over and was captivated by the hieroglyphs I could
      not comprehend. Little did I know that I would take HTML, CSS, and
      JavaScript courses at Code Academy a few days later.
    </Paragraph>
    <Paragraph className="my-2">
      After learning as much as possible with free resources, I yearned for
      more. That is why I attended the Software Engineering program at Fullstack
      Academy in NYC, where I honed my skill in modern web technologies such as
      React, Node, Express, and PostgreSQL.
    </Paragraph>
    <Paragraph className="my-2">
      Soon after graduating, I got a job with a small startup that needed help
      building an e-commerce platform using NextJS, React, Node, Express, and
      MongoDB.
    </Paragraph>
    <Paragraph className="my-2">
      I enjoy working with encouraging, supportive, and collaborative teams. In
      my free time, you'll find me Surfing, going for blue belt in Brazilian
      Jiu-Jitsu, Snowboarding, listening to music, or Gaming.
    </Paragraph>

    <!-- <div class="text-center my-4">
      <a href="/projects">
        <button
          class="my-4 inline-flex appearance-none items-center justify-center select-none relative whitespace-nowrap align-middle outline-none leading-tight rounded-md font-semibold h-10 px-4 text-zinc-800 bg-custom-teal hover:bg-teal-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-custom-teal transition-colors"
          >My portfolio
          <IoChevronForward
            className="text-current align-middle shrink-0 leading-4 ml-2 mt-[1px] w-4 h-4"
          />
        </button>
      </a>
    </div> -->
  </MotionSection>
  <MotionSection client:load delay={0.4} classNames="mb-8">
    <Heading as="h3" variant="section-title">Bio</Heading>
    <BioSection>
      <BioYear>1995</BioYear>
      Born in Santo Domingo, Dominican Republic.
    </BioSection>
    <BioSection>
      <BioYear>2019</BioYear>
      Graduated from the <a
        class="text-custom-blue dark:text-custom-teal"
        href="https://www.pucmm.edu.do/"
        >Mother and Teacher Pontifical Catholic University
      </a>with a bachelor&apos;s degree in Business Administration(B.B.A).
    </BioSection>
    <BioSection>
      <BioYear>2020</BioYear>
      <a
        href="https://drive.google.com/file/d/1WreG-vngtZtpPZUGnIdLN4it6vsYv79V/view"
        class="text-custom-blue dark:text-custom-teal ml-1">Completed</a
      > the program<a
        href="https://www.fullstackacademy.com/programs/coding-bootcamp"
      >
        Software Engineering Immersive for Intermediate Coders</a
      > from <a href="fullstackacademy.com">Fullstack Academy.</a>
    </BioSection>
    <BioSection>
      <BioYear>2020 to 2022</BioYear>
      Worked at <a
        class="text-custom-blue dark:text-custom-teal"
        href="https://305gm.com/">305GM</a
      > as a full-stack developer.
    </BioSection>
    <BioSection>
      <BioYear>2022 to present</BioYear>
      Working at <a
        class="text-custom-blue dark:text-custom-teal"
        href="https://crossborder.ai/">Crossborder Solutions</a
      > as a full-stack engineer(SDE II).
    </BioSection>
  </MotionSection>
  <MotionSection client:visible delay={0.4} classNames="mb-8">
    <Heading as="h3" variant="section-title">On the web</Heading>
    <ul>
      <ListItem>
        <a
          href={`mailto:${EMAIL}`}
          target="_self"
          class="underline-offset-[6px] decoration-2 hover:underline decoration-custom-blue dark:decoration-custom-teal"
        >
          <button class="inline-flex items-center"
            ><IoMail className="mr-2" /> me@heyimcarlos.dev</button
          >
        </a>
      </ListItem>
      <ListItem>
        <a
          href="https://github.com/heyimcarlos"
          target="_blank"
          class="underline-offset-[6px] decoration-2 hover:underline decoration-custom-blue dark:decoration-custom-teal"
        >
          <button class="inline-flex items-center"
            ><IoLogoGithub className="mr-2" /> @heyimcarlos</button
          >
        </a>
      </ListItem>
      <ListItem>
        <a
          href="https://twitter.com/heyimcarlos_dev"
          target="_blank"
          class="underline-offset-[6px] decoration-2 hover:underline decoration-custom-blue dark:decoration-custom-teal"
        >
          <button class="inline-flex items-center"
            ><IoLogoTwitter className="mr-2" /> @heyimcarlos_dev</button
          >
        </a>
      </ListItem>
      <ListItem>
        <a
          href="https://linkedin.com/in/carlos-dev/"
          target="_blank"
          class="underline-offset-[6px] decoration-2 hover:underline decoration-custom-blue dark:decoration-custom-teal"
        >
          <button class="inline-flex items-center"
            ><IoLogoLinkedin className="mr-2" /> @carlos-dev</button
          >
        </a>
      </ListItem>
    </ul>
  </MotionSection>
  <MotionSection client:visible delay={0.5}>
    <Heading as="h3" variant="section-title">Projects</Heading>
    <p>Take a look at some of the projects I've developed.</p>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-6">
      {projects.map(p => <GridItem project={p} />)}
    </div>
  </MotionSection>
</Page>
