---
// import { Image } from '@astrojs/image/components'
// import {
//   IoChevronForward,
//   IoLogoTwitter,
//   IoLogoGithub,
//   IoLogoLinkedin
// } from 'react-icons/io5/index.js'
// import { SITE_TITLE } from '../config'
// import Heading from '../components/Heading.js'
// import Content from '../components/Content.astro'
// import Footer from '../components/Footer.astro'
// import Body from '../components/Body.astro'
// import Header from '../components/Header.astro'
// import Paragraph from '../components/Paragraph.astro'
import BaseHead from '../components/BaseHead.astro'
// import MotionSection from '../components/MotionSection.astro'
// import BioSection from '../components/Bio/Bio.astro'
// import BioYear from '../components/Bio/BioYear.astro'
// import ListItem from '../components/ListItem.astro'
// import GridItem from '../components/GridItem.astro'
---

<html lang="en">
  <head>
    <BaseHead
      title="Carlos de la Cruz: Personal Site"
      description="Carlos de la Cruz: Developer"
    />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h1>Carlos de la Cruz</h1>
        <p>Developer</p>
      </div>
    </div>
  </body>
</html>
