---
// Component Imports
import Footer from '../components/Footer.astro'
import Body from '../components/Body.astro'
import Header from '../components/Header.astro'
import { SITE_TITLE } from '../config'
import BaseHead from '../components/BaseHead.astro'
import Content from '../components/Content.astro'
// Data Fetching: List all Markdown posts in the repo.
// const projects = await Astro.glob('./project/**/*.md')
// const featuredProject = projects[0]
---

<html lang="en">
  <head>
    <BaseHead
      title="Carlos de la Cruz: Personal Site"
      description="Carlos de la Cruz: Developer"
    />
  </head>
  <Body>
    <Header title={SITE_TITLE} class="" />

    <main class="pt-[56px]">
      <Content>
        <div class="bg-red-500 p-3 my-6 text-center rounded-lg">
          Hello I&apos;m a full-stack developer with a passion for building!
        </div>

        <section>
          <p class="mb-8 indent-4">
            Welcome to the official <a href="https://astro.build/">Astro</a> blog
            starter template. This template serves as a lightweight, minimally-styled
            starting point for anyone looking to build a personal website, blog,
            or portfolio with Astro.
          </p>
        </section>
      </Content>
    </main>
    <Footer />
  </Body>
</html>
