---
import { SITE_URL } from '../config'
const currentYear = new Date().getFullYear()
---

<footer class="p-4 text-center text-zinc-500">
  &copy; {currentYear}
  <a href={SITE_URL}> Carlos de la Cruz</a>. All rights reserved.
</footer>
