---
import { SITE_URL } from '../config'
const currentYear = new Date().getFullYear()
---

<footer class="text-sm p-4 text-center text-zinc-500">
  <!-- <p>
    Designed by
    <a
      class="underline-offset-4 decoration-2 hover:underline decoration-custom-teal"
      href="https://craftz.dog"
    >
      Takuya Matsumaya</a
    >.
  </p> -->
  &copy; {currentYear}
  <a
    class="underline-offset-4 decoration-2 hover:underline decoration-custom-teal"
    href={SITE_URL}
  >
    Carlos de la Cruz</a
  >. All rights reserved.
</footer>
