---
import HeaderLink from './HeaderLink.astro'
import ThemeToggle from './ThemeToggleButton'
import DropdownMenu from './DropdownMenu'
import TerminalIcon from './icons/terminal'
import { EMAIL, CHAT_APP_URL } from '../config'
---

<header class="fixed w-full p-2 z-20 backdrop-blur-md">
  <div class="mx-auto max-w-3xl">
    <nav class="flex items-center gap-3 text-base">
      <a href="/" class="group">
        <h2
          class="font-semibold tracking-tighter p-2 lg:pl-0 font-mplus text-lg"
        >
          <TerminalIcon />
          Carlos de la Cruz
        </h2>
      </a>
      <div class="flex-1"></div>
      <div class="items-center gap-6 mr-4 hidden md:flex">
        <HeaderLink href="/">About</HeaderLink>
        <HeaderLink href="/projects">Projects</HeaderLink>
        <HeaderLink href={`mailto:${EMAIL}`} target="_self">Contact</HeaderLink>
        <HeaderLink href={CHAT_APP_URL} target="_self">Chat App</HeaderLink>
      </div>
      <div class="block md:hidden z-50">
        <DropdownMenu client:load />
      </div>
      <ThemeToggle client:load />
    </nav>
  </div>
</header>
