---
import HeaderLink from './HeaderLink.astro'
import { IoLogoGithub } from 'react-icons/io5/index.js'
import ThemeToggle from './ThemeToggleButton'
import DropdownMenu from './DropdownMenu'
import TerminalIcon from './icons/terminal'
import { SOURCE_URL } from '../config'
---

<header class="fixed w-full p-2 z-20 backdrop-blur-md">
  <div class="mx-auto max-w-3xl">
    <nav class="flex items-center gap-3 text-base">
      <a href="/" class="group">
        <h2 class="font-semibold tracking-tighter p-2 font-mplus text-lg">
          <TerminalIcon />
          Carlos de la Cruz
        </h2>
      </a>
      <div class="items-center gap-6 hidden md:flex">
        <HeaderLink href="/">About</HeaderLink>
        <!-- <HeaderLink href="/work">Work</HeaderLink> -->
        <!-- <HeaderLink href="/blog">Blog</HeaderLink> -->
        <HeaderLink href={SOURCE_URL}>
          <IoLogoGithub />
          Source</HeaderLink
        >
      </div>
      <div class="flex-1"></div>
      <ThemeToggle client:visible />
      <div class="block md:hidden">
        <DropdownMenu client:visible />
      </div>
    </nav>
  </div>
</header>
