---
import { Image } from 'astro:assets'

const { id, data } = Astro.props.project
---

<div class="w-full text-center my-4">
  <div class="cursor-pointer relative">
    <a href={`/projects/${id}/`}>
      <Image
        src={data.thumbnail}
        alt={data.title}
        position="top"
        width={720}
        height={100}
        decoding="async"
        loading="lazy"
        class="rounded-xl min-h-full min-w-full max-h-full max-w-scale-100 hover:scale-105 transition-transform duration-300"
      />
      <p class="mt-2">{data.title}</p>
    </a>
  </div>
</div>
