---
import BaseHead from '../components/BaseHead.astro'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'

export interface Props {
  lang: string
  title: string
  description: string
  heading?: string
}
const { description, lang, title, heading } = Astro.props
console.log('hello world testing astrovim:')
---

<html lang={lang}>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <Body>
    <Header />
    <main class="pt-[56px]">
      <Content>
        <slot />
      </Content>
    </main>
  </Body>
  <Footer />
</html>
